@font-face {
    font-family: Railway;
    src: url("../font/Railway.otf");
}

body {
    font-family: Railway, Verdana;
    background-color: black;
    color: whitesmoke;
    margin: 0;
}

.section, #background-image-container {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.text-div, .quote-div {
	display: block;
		
	height: 5vw;

	text-shadow: 0 0 0.5vw #000000;
}

.text-div {
    position: relative;
    top: 70vh;
    left: 5vw;

	width: 60vw;

	font-size: 2.5vh;
}

.quote-div {
	position: relative;
    top: 7vh;

	width: 60vw;

	font-size: 3vh;
}

.text-div p, .quote-div p {
	background-color: rgba(205, 205, 205, 0.5);
	padding: 10;
}

#background-image-container {
	background-image: url("../img/00_m.jpg");

	position: absolute;
	height: 100%;
	opacity: 0;

	animation: fadeIn 0.85s 1.35s ease forwards;
	-webkit-animation: fadeIn 0.85s 1.35s ease forwards;
}

#first-view {
	text-shadow: 0 0 1vw #000000;
}

#scroll-down-text {
	display: none;

	position: absolute;
	top: 92vh;
	left: 37vw;

	font-size: 2vh;
	text-shadow: 0 0 0.4vw #000000;

	animation: floating 0.75s ease infinite alternate;
	-webkit-animation: floating 0.75s ease infinite alternate;
}

#inspiration-text-div {
	font-size: 6vw;
	position: relative;
	top: 5vw;
	text-align: center;
}

#inspiration-text-div span {
	opacity: 0;
}

.inspiration-words {
	display: inline-block;
	animation: enlarge 0.6s ease-in-out forwards;
	-webkit-animation: enlarge 0.6s ease-in-out forwards;
}

#vertical-text {
	font-size: 10vw;
	letter-spacing: 40px;

	display: block;
	position: relative;
	top: 85vh;
	left: 45vw;

	opacity: 0;

	transform: rotate(-90deg);
	transform-origin: left top 0;
	-webkit-transform: rotate(-90deg);
	-webkit-transform-origin: left top 0;

	animation: slideUp 0.75s 1.35s ease-out forwards;
	-webkit-animation: slideUp 0.75s 1.35s ease-out forwards;
}

#second-view {
	background-image: url("../img/01_m.jpg");
}

#third-view {
	background-image: url("../img/02_m.jpg");
}

@media only screen and (min-width: 768px) { /* DESKTOP AND TABLET*/
	.text-div, .quote-div {
		font-size: 1.75vw;
		width: 35vw;
	}

	.quote-div {
		padding-left: 60vw;
		bottom: 83vh;
	}

	#background-image-container {
		background-image: url("../img/00.jpg");
	}

	#scroll-down-text {
		left: 45vw;
	}

	#inspiration-text-div, #vertical-text {
		font-size: 5vw;
	}

	#inspiration-text-div {
		top: 25vh;
		padding-left: 5vw;
		text-align: initial;
		font-size: 5vw;
	}

	#vertical-text {
		letter-spacing: 55px;

		top: 90vh;
		left: 81vw;
	}

	#second-view {
		background-image: url("../img/01.jpg");
	}

	#third-view {
		background-image: url("../img/02.jpg");
	}
}

/* ANIMATIONS */
@keyframes floating {
    from {top: 92vh;}
    to {top: 91vh;}
}

@keyframes enlarge {
	0% {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		opacity: 0;
	}

	80% {
		-webkit-transform: scale(1.2);
		-ms-transform: scale(1.2);
		transform: scale(1.2);
		opacity: 1;
	}

	100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes slideUp {
	from {
		top: 90vh;
		opacity: 0;
	}
	to {
		top: 65vh;
		opacity: 1;
	}
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}