@font-face {
    font-family: Railway;
    src: url("../font/Railway.otf");
}

body {
	font-family: Railway, Verdana;
    background-color: white;
    margin: 0;
}

.section {
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.textDiv {
	display: block;
	float: left;
	width: 30vw;
	height: 5vw;
	padding-top: 70vh;
	padding-left: 5vw;

	font-size: 1.5vw;
	color: blanchedalmond;
	text-shadow: 0 0 0.5vw #000000;
	text-align: justify;
}

.quoteDiv {
	display: block;
	width: 40vw;
	height: 5vw;
	padding-top: 5vh;
	padding-left: 50vw;

	font-size: 1.75vw;
	color: blanchedalmond;
	text-shadow: 0 0 0.5vw #000000;
	text-align: justify;
}

#first-view {
	background-image: url("../img/00.jpg");
	font-size: 5vw;
	color: whitesmoke;
	text-shadow: 0 0 1vw #000000;
}

#first-view p {
	position: absolute;
	top: 92vh;
	left: 45vw;

	font-size: 1vw;
	text-shadow: 0 0 0.4vw #000000;

	animation: floating 0.75s ease infinite alternate;
}

#inspiration-text {
	position: relative;
	top: 25vh;
	padding-left: 5vw;
}

#vertical-text {
	letter-spacing: 55px;

	display: block;
	position: relative;
	top: 65vh;
	left: 81vw;

	transform: rotate(-90deg);
	transform-origin: left top 0;
	-webkit-transform: rotate(-90deg);
	-webkit-transform-origin: left top 0;
}

#second-view {
	background-image: url("../img/01.jpg");
}

#third-view {
	background-image: url("../img/02.jpg");
}

/* ANIMATIONS */
@keyframes floating {
    from {top: 92vh;}
    to {top: 91vh;}
}